/.DS_Store
/code/.DS_Store
/code/.env
/data+analysis/.RData
/data+analysis/.Rhistory
/data+analysis/viz/.DS_Store
/data+analysis/data/.DS_Store
/node_modules/
/experiments/.DS_Store
/experiments/prior_elicitation/node_modules/
/experiments/prior_elicitation/.DS_Store
/experiments/free_production/node_modules/
/experiments/free_production/.DS_Store
/experiments/contextSensitive_free_production/node_modules/
/experiments/contextSensitive_free_production/.DS_Store
/experiments/priorSensitivity_free_production/node_modules/
/experiments/04-priorSensitivity_free_production/node_modules/
/experiments/priorSensitivity_free_production/.DS_Store
/code/vignettes_LLM/*